#welcome {
    text-align: center;
}
#mostRecent {
    text-align: center;
}
div.newsStory {
    margin: auto;
    border-style: double;
    background-color: #fcfcfc;
    width: 75%;
}
p.storyBody {
    margin: auto;
    border-style: groove;
    background-color: #f9f9f9;
    width: 95%;
}
#commentBody {
    margin: auto;
    border-style: hidden;
    background-color: #dddddd;
    width: 90%;
}
#commentForm {
    margin: auto;
    width: 90%;
}
#newComment {
    margin: auto;
    width: 100%;
}
#returnForm{
    text-align: center;
    margin: auto;
    width: 100%;
}
#navForm{
    text-align: center;
    margin: auto;
    width: 100%;
}
#splashForm{
    text-align: center;
    margin: auto;
    width: 100%;
}
form.commentEditForm {
    margin: auto;
    border-style: hidden;
    background-color: #dddddd;
    width: 90%;
}
#commentDeleteForm {
    margin: auto;
    border-style: hidden;
    background-color: #dddddd;
    width: 90%;
}
#newTitle {
    margin: auto;
    width: 50%;
}
#newLink {
    margin: auto;
    width: 75%;
}
#newStory {
    margin: auto;
    width: 90%;
    height:500px;
}
#searchForm {
    margin: auto;
    width: 50%;
}

body {
    margin: auto;
    background-color: #baffc4;
}
h1 {
    text-align: center;
    margin: auto;
}
h2 {
    text-align: center;
    margin: auto;
}
h4 {
    text-align: center;
    margin: auto;
}
label {
    font-weight: bold;
}